html {
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 8rem;
  min-height: 100%;
  background-color: #fff;
  color: #000;
}

img#fortune {
    border-radius: 40px;
    margin-top: 5px;
    border: 1px solid #ef5545;
}

.welcome {
    background-color: #0d1a28;
    color: #fff;
}

header {
    text-align: center;
    background-color: #0d1a28;
    padding: 10px 0 10px 0;
    width: 100%;
    border-bottom: 4px solid #ef5545;
}

h1 {
    font-weight: 700;
    color: #b51304;
}

h2 {
    text-align: center;
    font-weight: 500;
}

h3 {
    font-weight: 700;
    color: #b51304;
}

#info {
    background-color: #680A00;
    color: #fff;
}

#info:hover {
    background-color: #EF5545;
}

P {
    font-size: 25px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

footer {
    position: absolute;
    border-top: 4px solid #ef5545;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #0d1a28;
    color: white;
    font-size: 18px;
    text-align: center;
    padding-bottom: 1rem;
  }

  .footBreak {
    display: none;
  }


/* social icons */

.social-icons {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 5px;
}

.fab:hover {
    opacity: 0.4;
    background-color: #fff;
    color: #ef5545;
}

.fa-linkedin, .fa-github, .fa-twitter, .fa-facebook, .fa-pinterest, .fa-500px {
    color: white;
}

/* On screens that are 600px or less, activate line break */
@media screen and (max-width: 600px) {
    .footBreak {
        display: block;
    }
    .footBar {
        display: none;
    }
    h3 {
        font-size: 20px;
        padding-top: 4px;
    }
    body {
        background-color: #6284bb;
      }
}

/* On screens that are 1025px or less, resize buttons */
@media screen and (max-width: 1025px) {
    .social-icons {
      font-size: 16px;
    }
  }

  /* On screens that are 1281px or more, hide input box */
@media screen and (min-width: 1281px) {
    #letters {
      display: none;
    }
  }